<div class="bg-gray-100 h-screen w-screen overflow-y-auto">
  <div class="flex flex-col gap-10 justify-center items-center py-20 px-5">

    <div class="flex flex-row gap-10 items-center">
      <do-button>
        Button
      </do-button>
      <do-button styled="round">
        Button
      </do-button>
      <do-button variant="light">
        Button
      </do-button>
      <do-button variant="light" styled="round">
        Button
      </do-button>
      <do-button variant="dark">
        Button
      </do-button>
      <do-button variant="dark" styled="round">
        Button
      </do-button>
    </div>

    <div class="flex flex-row gap-10 items-center">
      <do-button size="large">
        <span>Button</span>
      </do-button>
      <do-button>
        <span>Button</span>
      </do-button>
      <do-button size="small">
        <span>Button</span>
      </do-button>
      <do-button size="extra-small">
        <span>Button</span>
      </do-button>

      <do-button styled="round" size="large">
        <span>Button</span>
      </do-button>
      <do-button styled="round">
        <span>Button</span>
      </do-button>
      <do-button styled="round" size="small">
        <span>Button</span>
      </do-button>
      <do-button styled="round" size="extra-small">
        <span>Button</span>
      </do-button>
    </div>

    <div class="flex flex-row gap-10 items-center">
      <do-button>
        <mat-icon class="material-icons-outlined">circle</mat-icon>
        &nbsp;&nbsp;Button&nbsp;&nbsp;
        <mat-icon class="material-icons-outlined">circle</mat-icon>
      </do-button>
      <do-button styled="round">
        <mat-icon class="material-icons-outlined">circle</mat-icon>
        &nbsp;&nbsp;Button&nbsp;&nbsp;
        <mat-icon class="material-icons-outlined">circle</mat-icon>
      </do-button>
    </div>

    <div class="flex flex-row gap-10 items-center">
      <do-icon-button variant="dark" size="large">
        <mat-icon class="material-icons-outlined">circle</mat-icon>
      </do-icon-button>
      <do-icon-button variant="light" size="large">
        <mat-icon class="material-icons-outlined">circle</mat-icon>
      </do-icon-button>
      <do-icon-button size="large">
        <mat-icon class="material-icons-outlined">circle</mat-icon>
      </do-icon-button>
      <do-icon-button>
        <mat-icon class="material-icons-outlined" style="font-size: 18px;">circle</mat-icon>
      </do-icon-button>
      <do-icon-button size="small">
        <mat-icon class="material-icons-outlined" style="font-size: 15px;">circle</mat-icon>
      </do-icon-button>
      <do-icon-button size="extra-small">
        <mat-icon class="material-icons-outlined" style="font-size: 13px;">circle</mat-icon>
      </do-icon-button>
    </div>

  </div>
</div>
